# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
consultabot-app/node_modules
consultabot-app/.pnp
consultabot-app/.pnp.js

# testing
/coverage

# production
consultabot-app/build

# misc
consultabot-app/.DS_Store
consultabot-app/.env.local
consultabot-app/.env.development.local
consultabot-app/.env.test.local
consultabot-app/.env.production.local

consultabot-app/npm-debug.log*
consultabot-app/yarn-debug.log*
consultabot-app/yarn-error.log*

# Server
server/node_modules

#build files
.aws-sam/